html, body {
	height: 100%;
	margin: 0px;
	padding: 0px; 
	font-family: 'Open Sans';
	overflow: hidden;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}
